<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="import" href="bower_components/polymer/polymer.html"> 
  </head>
  <body>
    {{{body}}}
  </body>
</html>
